{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <button type="button" onclick="loadDoc()">Like</button>
    <div id="demo">
        {% for post in posts %}
            {{ post.like_counter }}
        {% endfor %}
    </div>

    <script>
        function loadDoc() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById("demo").innerHTML =
              this.responseText;
            }
          };
          xhttp.open("GET", "/getdata/101/4", true);
          xhttp.send();
        }
    </script>
{% endblock content %}