{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
          {% if post.author == current_user  %}

              <a class="btn btn-secondary btn-sm mt-1 mb-1 edit-btn" href="{{ url_for('update_post', post_id=post.id)  }}">Edit</a>
              <button type="button" class="btn btn-danger btn-sm m-1 delete-btn" data-toggle="modal" data-target="#deleteModal">Delete</button>

          {% endif %}
        </div>
        <h4 class="article-title text-justify">{{ post.title }}</h4>
        <p class="article-content text-justify text-muted">{{ post.content }}</p>
        {% for tag in joinedTables %}
            {% if post.id == tag[0] %}
            <a class="article-content tag-style text-justify" href="{{ url_for('tags', tag_title=tag.tag_title) }}">{{ tag.tag_title }}</a>
            {% endif %}
        {% endfor %}<hr>
            <div class="footRow">
                {%  if current_user.is_authenticated %}
    
                  <a><i class="fas fa-thumbs-up mr-1 btn upvote"id="/vote/{{post.id}}/{{current_user.id}}" onclick="contentDisp(this);">  {{ post.like_count }} </i></a>
    
                  <a><i class="fas fa-thumbs-down mr-1 btn upvote" id="/downvote/{{post.id}}/{{current_user.id}}" onclick="contentDisp(this);" >  {{ post.dislike_count }} </i></a>
                    
                  <a href="#commenticon"><i class="fas fa-comment-alt mr-1 btn text-dark" id="comment-btn"></i></a>
                  <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
                  {% else %}
                  <a href="{{url_for('login')}}"><i class="fas fa-thumbs-up mr-1 btn text-primary upvote"><span class="ml-2 likes-count">{{ post.like_count }}</span></i></a>
                  <a href="{{url_for('login')}}"><i class="fas fa-thumbs-down mr-1 btn text-dark"><span id="demo" class="ml-3">{{ post.like_count }}</i></a>
                  <a href="{{url_for('comment_post', post_id=post.id)}}"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>
    
                {% endif %}
            </div>
      </div>
    </article>

    <!-- Modal Delete Post-->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>


    <!-- Modal Delete Answer-->
    {% for answer in answers %}
    <div class="modal fade" id="deleteAnswerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Answer?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="{{ url_for('delete_answer', answer_id=answer.id) }}" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}



    <!-- Modal Delete Comment -->
    {% for comment in comments %}
      <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"    aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Comment?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
            <form action="{{ url_for('delete_comment', post_id=post.id, comment_id= comment.comment_id) }}" method="P
            OST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            
            
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    <!-- Comment Section -->
    <div class="content-section hide-comments">
        <form method="POST" action="">
            {{ form.hidden_tag() }}

                <div class="form-group">
                    {{ form.comment.label(class="form-control-label") }}
                    {% if form.comment.errors %}
                        {{ form.comment(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.comment.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.comment(class="form-control form-control-lg") }}
                    {% endif %}
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>

        </form> <hr>
        {% for comment in comments %}
          <article>
              <div>
                <p class="comment text-justify text-muted">{{ comment.comment }} <small>-  <a href="{{ url_for('user_posts', username=comment.author.username) }}">{{ comment.author.username }}</a> on {{ comment.date_posted.strftime('%d-%m-%Y') }} </small>
                
                {% if post.author == current_user  %}
                <a class=" ml-2 deleteComment-btn text-danger" data-toggle="modal" data-target="#deleteCommentModal"><i class="fas fa-trash-alt"></i></a></p>
                {% else %}
              
                {% endif %}
              </div><hr>
              
          </article>
         {% endfor %}
    </div>

    <!-- Answers Section -->
    <h4 class="answer-section">Answers -({{ answersCount }})</h4> <hr>
    {% for answer in answers %}
    {% if answer.post_id == post.id %}
    <article class="media content-section">
        <div class="media-body answerOverflow">
          <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + answer.author.image_file) }}">
            <a class="mr-2" href="{{ url_for('user_posts', username=answer.author.username) }}">{{ answer.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            {% if answer.author == current_user  %}
  
                <a class="btn btn-secondary btn-sm mt-1 mb-1 edit-btn" href="{{ url_for('update_answer', answer_id=answer.id, post_id=post.id)  }}">Edit</a>
                <button type="button" class="btn btn-danger btn-sm m-1 delete-btn" data-toggle="modal" data-target="#deleteAnswerModal">Delete</button>
  
            {% endif %}
          </div>
          <p class="article-content text-justify text-wrap text-break text-muted ">{{ answer.content|safe }}</p> <hr>
          <div class="footRow">
            {%  if current_user.is_authenticated %}
  
              <a><i class="fas fa-thumbs-up mr-1 btn upvote" id="/AnswerUpvotes/{{answer.id}}/{{current_user.id}}" onclick="AnswerVotes(this);"> {{ answer.like_count }} </i></a>
              <a><i class="fas fa-thumbs-down mr-1 btn" id="/AnswerDownvotes/{{answer.id}}/{{current_user.id}}" onclick="AnswerVotes(this);"> {{ answer.dislike_count }}</i></a>
              <!-- <a href="#"><i class="fas fa-comment-alt mr-3 btn text-dark"></i></a> -->
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
              {% else %}
              <a href="#"><i class="fas fa-thumbs-up mr-1 btn text-primary upvote"><span class="ml-2 likes-count">{{ post.like_count }}</span></i></a>
              <a href="#"><i class="fas fa-thumbs-down btn"><span id="demo" class="ml-3">{{ post.dislike_count }}</i></a>
              <a href="#"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>
  
            {% endif %}
          </div>
        </div>
    </article>
    {% endif %}
    {% endfor %}

    <!-- Summernote Section -->
    <div class="summernote-section">
        <h4>Your Answer</h4>
        <form action="{{ url_for('answer', post_id=post.id) }}" method="post">
            <textarea id="summernote" name="editordata" class="mt-5 mb-5" required></textarea>
            <button class="btn btn-primary mt-5 mb-5">Post Your Answer</button>
          </form>
          
    </div>
    <!-- Javascript Section -->
    <script>
        function contentDisp(obj) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var resp = JSON.parse(this.responseText);

                this_id = String($(obj).attr("id"));
                id_list = this_id.split('/')
                if (id_list[1] == 'vote') {
                    document.getElementById(String($(obj).attr("id"))).innerHTML = resp['vote_count'];
                    id = '/downvote/' + id_list[2] + '/' + id_list[3];
                    document.getElementById(id).innerHTML = resp['downvote_count'];
                } else {
                    document.getElementById(String($(obj).attr("id"))).innerHTML = resp['downvote_count'];
                    id = '/vote/' + id_list[2] + '/' + id_list[3];
                    document.getElementById(id).innerHTML = resp['vote_count'];
                }
            }
        };
        var someurl = String($(obj).attr("id"));
        xhttp.open("GET", someurl, true);
        xhttp.send();
        }
        function AnswerVotes(obj) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              document.getElementById(String($(obj).attr("id"))).innerHTML =
              this.responseText;
            }
          };
          var someurl = String($(obj).attr("id"));
          console.log(someurl)
          xhttp.open("GET", someurl, true);
          xhttp.send();
        }

        $(document).ready(function() {
          $('#summernote').summernote();
        });

        $( "#comment-btn" ).click(function() {
            $( ".hide-comments" ).toggle();
        });

        $(document).ready(function () {
          setTimeout(function () {
              $('.alert-success').hide();
          }, 1000);
        });

    </script>
{% endblock content %}