{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
          <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
          {% if post.author == current_user  %}

              <a class="btn btn-secondary btn-sm mt-1 mb-1 edit-btn" href="{{ url_for('update_post', post_id=post.id)  }}">Edit</a>
              <button type="button" class="btn btn-danger btn-sm m-1 delete-btn" data-toggle="modal" data-target="#deleteModal">Delete</button>

          {% endif %}
        </div>
        <h4 class="article-title text-justify">{{ post.title }}</h4>
        <p class="article-content text-justify text-muted">{{ post.content }}</p>
        {% for tag in joinedTables %}
            {% if post.id == tag[0] %}
            <a class="article-content tag-style text-justify" href="{{ url_for('tags', tag_title=tag.tag_title) }}">{{ tag.tag_title }}</a>
            {% endif %}
        {% endfor %}<hr>
            <div class="footRow">
                {%  if current_user.is_authenticated %}

                  <a><i class="fas fa-thumbs-up mr-1 btn upvote"id="/vote/{{post.id}}/{{current_user.id}}" onclick="contentDisp(this);">  {{ post.like_count }} </i></a>

                  <a><i class="fas fa-thumbs-down mr-1 btn upvote" id="/downvote/{{post.id}}/{{current_user.id}}" onclick="contentDisp(this);" >  {{ post.dislike_count }} </i></a>

                  <a href="#commenticon"><i class="fas fa-comment-alt mr-1 btn text-dark" id="comment-btn"></i></a>

                  <!-- AddToAny BEGIN -->
                  <a class="a2a_dd" href="https://www.addtoany.com/share"><i class="far fa-share-square btn"></i></a>
                  <!-- AddToAny END -->
                  {% else %}
                  <a href="{{url_for('login')}}"><i class="fas fa-thumbs-up mr-1 btn text-primary upvote"><span class="ml-2 likes-count">{{ post.like_count }}</span></i></a>
                  <a href="{{url_for('login')}}"><i class="fas fa-thumbs-down mr-1 btn text-dark"><span id="demo" class="ml-3">{{ post.like_count }}</i></a>
                  <a href="{{url_for('comment_post', post_id=post.id)}}"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>

                {% endif %}
            </div>
      </div>
    </article>

    <!-- Modal Delete Post-->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>


  <!-- Modal Delete Answer-->
  {% for answer in answers %}
  <div class="modal fade" id="deleteAnswerModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Answer?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button class="btn btn-danger" id="" onclick="deleteAnswer()">Delete</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

    <!-- Comment Section -->
    <div class="content-section hide-comments">
      <form method="POST" id="comment-form" action="">
        <div class="form-group">
            <textarea class="form-control form-control-lg" id="comment-box" name="comment" placeholder = "Type your comment..." required onkeyup="empty(this.value)"></textarea>
            <button class="btn btn-outline-info" id="comment-button" disabled>Comment</button>
        </div>
      </form> <hr>
      {% for comment in comments %}
            <div>
              <p class="comment text-justify text-muted comment-field" ><span id="{{comment.comment_id}}">{{ comment.comment }}</span> <br>
                <small class="move-right">-<a href="{{ url_for('user_posts', username=comment.author.username) }}">{{ comment.author.username }}</a> on {{ comment.date_posted.strftime('%d-%m-%Y') }} </small>

              {% if comment.author == current_user %}
              <a class="text-dark edit-comment edit-btn mr-4" id="{{comment.comment_id}}"><i class="far fa-edit"></i></a>

              <!-- Modal Edit Comment -->
              <div class="modal fade" id="editCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"    aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Edit Comment?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                
                          <form class="form form-group" id="update-comment" method="post">
                            <textarea class="form-control comment-area" name="comment"></textarea>
                            <div style="text-align: right;">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                              <button class="btn btn-primary" onclick="updateComment()">Update</button>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>

              {% endif %}
          
              {% if post.author == current_user  %}
              <a class=" ml-2 deleteComment-btn text-danger" id="{{comment.comment_id}}"><i class="fas fa-trash-alt"></i></a></p>

              <!-- Modal Delete Comment -->
              <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"    aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Delete Comment?</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button class="btn btn-danger" id="" onclick="deleteComment()">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              {% else %}
              {% endif %}
            </div>
       {% endfor %}
    </div>

   <!-- Answers Section -->
    <h4 class="answer-section">Answers -({{ answersCount }})</h4> <hr>
    {% for answer in answers %}
    {% if answer.post_id == post.id %}
    <article class="media content-section">
        <div class="media-body answerOverflow">
          <div class="article-metadata">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + answer.author.image_file) }}">
            <a class="mr-2" href="{{ url_for('user_posts', username=answer.author.username) }}">{{ answer.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            {% if answer.author == current_user  %}

                <a class="btn btn-secondary btn-sm mt-1 mb-1 edit-btn" href="{{ url_for('update_answer', answer_id=answer.id, post_id=post.id)  }}">Edit</a>
                <button type="button" class="btn btn-danger btn-sm m-1 delete-btn delete-answer" id="{{answer.id}}">Delete</button>

            {% endif %}
          </div>
          <p class="article-content text-justify text-wrap text-break text-muted ">{{ answer.content|safe }}</p> <hr>
          <div class="footRow">
            {%  if current_user.is_authenticated %}

              <a><i class="fas fa-thumbs-up mr-1 btn upvote" id="/AnswerUpvotes/{{answer.id}}/{{current_user.id}}" onclick="AnswerVotes(this);"> {{ answer.like_count }} </i></a>
              
              <a><i class="fas fa-thumbs-down mr-1 btn" id="/AnswerDownvotes/{{answer.id}}/{{current_user.id}}" onclick="AnswerVotes(this);"> {{ answer.dislike_count }}</i></a>

              <a href="{{ url_for('answercomment', answer_id=answer.id) }}"><i class="fas fa-comment-alt mr-3 btn text-dark"></i></a>

              {% else %}
              <a href="#"><i class="fas fa-thumbs-up mr-1 btn text-primary upvote"><span class="ml-2 likes-count">{{ post.like_count }}</span></i></a>
              <a href="#"><i class="fas fa-thumbs-down btn"><span id="demo" class="ml-3">{{ post.dislike_count }}</i></a>
              <a href="#"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>

            {% endif %}
          </div>
        </div>
    </article>
    {% endif %}
    {% endfor %}

    <!-- Summernote Section -->
    <div class="summernote-section">
        <h4>Your Answer</h4>
        <form action="{{ url_for('answer', post_id=post.id) }}" method="post">
            <textarea id="summernote" name="editordata" class="mt-5 mb-5" required></textarea>
            <button class="btn btn-primary mt-5 mb-5">Post Your Answer</button>
          </form>

    </div>
    <!-- Javascript Section -->
    <script>
        function contentDisp(obj) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var resp = JSON.parse(this.responseText);

                this_id = String($(obj).attr("id"));
                id_list = this_id.split('/')
                if (id_list[1] == 'vote') {
                    document.getElementById(String($(obj).attr("id"))).innerHTML = resp['vote_count'];
                    id = '/downvote/' + id_list[2] + '/' + id_list[3];
                    document.getElementById(id).innerHTML = resp['downvote_count'];
                } else {
                    document.getElementById(String($(obj).attr("id"))).innerHTML = resp['downvote_count'];
                    id = '/vote/' + id_list[2] + '/' + id_list[3];
                    document.getElementById(id).innerHTML = resp['vote_count'];
                }
            }
        };
        var someurl = String($(obj).attr("id"));
        xhttp.open("GET", someurl, true);
        xhttp.send();
        }
        function AnswerVotes(obj) {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  var resp = JSON.parse(this.responseText);
  
                  this_id = String($(obj).attr("id"));
                  id_list = this_id.split('/')
                  if (id_list[1] == 'AnswerUpvotes') {
                      document.getElementById(String($(obj).attr("id"))).innerHTML = resp['vote_count'];
                      id = '/AnswerDownvotes/' + id_list[2] + '/' + id_list[3];
                      document.getElementById(id).innerHTML = resp['downvote_count'];
                  } else {
                      document.getElementById(String($(obj).attr("id"))).innerHTML = resp['downvote_count'];
                      id = '/AnswerUpvotes/' + id_list[2] + '/' + id_list[3];
                      document.getElementById(id).innerHTML = resp['vote_count'];
                  }
              }
          };
          var someurl = String($(obj).attr("id"));
          xhttp.open("GET", someurl, true);
          xhttp.send();
        }

        $(document).ready(function() {
          $('#summernote').summernote();
        });

        $( "#comment-btn" ).click(function() {
            $( ".hide-comments" ).toggle();
        });

        $(document).ready(function () {
          setTimeout(function () {
              $('.alert-success').hide();
          }, 1000);
        });
        $(function(){
          $('.deleteComment-btn').click(function(){
            $("#deleteCommentModal").modal();
              
              post_id = $(this).attr('id');
              console.log(post_id)
          })
        });

        function deleteComment(){
          url = "comment/" + post_id + "/delete";
          jQuery.post(url, function(data){
            if (data){
              let url_rep = window.location.href;
              console.log(url_rep);
              window.location.replace(url_rep);
            }
            else {
              alert('Not Authorised!');
            }
          })
        }

        function clearComment(){
          var cmnt = $('#comment-box').val();
          console.log(cmnt);
          $('#comment-form').submit();
          $("#comment-box").val('');
       }
      answer_id = "";
      $(function(){
        $('.delete-answer').click(function(){
          $('#deleteAnswerModal').modal();
              answer_id = $(this).attr('id');
              console.log(answer_id)
        })
      });

      function deleteAnswer(){
        url = "/answer/" + answer_id + "/delete";
        jQuery.post(url, function(data){
          if (data){
            let url = window.location.href;
              console.log(url);
              window.location.replace(url);
          }
          else {
            alert('Not Authorised!');
          }
        })
      }
      
      var cmmnt_id = '';
      $(function(){
        $('.edit-comment').click(function(){          
          curr_url = window.location.href;
          cmmnt_id = $(this).attr('id');
          comment = $('#'+cmmnt_id).text();
          $('.comment-area').html(comment);
          $('#editCommentModal').modal();

        });
      });

      function empty(commentText) {
        var x;
        x = commentText.trim();
        if (x == "") {
          $('#comment-button').attr('disabled', true);
        }
        else{
          $('#comment-button').attr('disabled', false);
        }
      }

      // UPDATE COMMENT
      function updateComment() {
        url = 'comment/' + cmmnt_id + '/update';
        console.log(url);
        $('#update-comment').attr('action', url);
        $('#update-comment').submit();
      }
        var a2a_config = a2a_config || {};
        a2a_config.onclick = 1;      
    </script>
    <script async src="https://static.addtoany.com/menu/page.js"></script>
{% endblock content %}