{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <form class="form-group" action="/post/new" method="POST">
        <legend class="border-bottom mb-0">{{ legend }}</legend>

        <label for="">Title</label>
        (<span id="max-length-element">100</span> chars left)
        <input type="text" class="form-control" id="textarea" placeholder="" name="title" data-validation="length" data-validation-length="10-100" data-validation-error-msg-container="#length-error-dialog" data-validation-error-msg="Title must be between 10-100 characters
        ">
        <div id="length-error-dialog"></div>

        <label for="">Content</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="content" data-validation="required" data-validation-error-msg-container="#content-error-dialog" data-validation-error-msg="Content field cannot be empty
        "></textarea>
        <div id="content-error-dialog"></div>

        <label for="">Tags</label>
        <select class="form-control js-example-tokenizer js-example-basic-multiple mt-2" style="width:100%" multiple="multiple" name="tags" data-validation="required"  data-validation-error-msg-container="#tags-error-dialog" id="tagId">
            {% for tags in taglist %}
                <option>{{tags['tag_title']}}</option>
            {% endfor %}
        </select>
        <div id="tags-error-dialog"></div>

        <button class="btn btn-primary mt-2" id="submit-btn">Post</button>
    </form>

    <script>
        $(document).ready(function() {
            $('.js-example-basic-multiple').select2();

            $(".js-example-responsive").select2({
                width: 'resolve' // need to override the changed default
            });

            $(".js-example-tags").select2({
                tags: true
            });

            $(".js-example-tokenizer").select2({
                tags: true,
                tokenSeparators: [',', ' ']
            });
            // $('.js-example-tokenizer').select2({
            //     $.get('/tags/taglist', function(data){
            //         console.log(data);
            //     })
            // });
        });
        
        console.log("Hello World !");
        $.validate();
        $('#textarea').restrictLength( $('#max-length-element') );
        $('#submit-btn').click(function(){
            console.log($('#tagId').length);
        });


        
    </script>
</div>
{% endblock content %}