{% extends "layout.html" %}
{% block content %}
      {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            <div class="article-metadata">
            </div>
            <h5 class="text-justify"><a class="article-title" href="{{ url_for('comment_post', post_id=post.post_id) }}">{{ post.title }}</a></h5>
            <p class="article-content more text-justify text-muted">{{ post.content}}</p>

            {% for tag in joinedTables %}
            {% if post.id == tag[0] %}
            <a class="article-content tag-style text-justify" href="{{ url_for('tags', tag_title=tag.tag_title) }}">{{ tag.tag_title }}</a>
            {% endif %}
            {% endfor %}<hr>

          <hr> <div class="footRow">
            {%  if current_user.is_authenticated %}

              <a><i class="fas fa-thumbs-up mr-1 btn upvote"id="/vote/{{post.post_id}}/{{current_user.id}}" onclick="contentDisp(this);">  {{ post.like_count }} </i></a>

              <a><i class="fas fa-thumbs-down mr-1 btn upvote" id="/downvote/{{post.post_id}}/{{current_user.id}}" onclick="contentDisp(this);" >  {{ post.dislike_count }} </i></a>
                
              <a href="{{url_for('comment_post', post_id=post.post_id)}}"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>
              
              <a href="{{url_for('delete_favourites', post_id=post.post_id)}}"><i class="fas fa-minus-circle mr-1 btn text-danger"></i></a>

              <!-- AddToAny BEGIN -->
              <a class="a2a_dd" href="https://www.addtoany.com/share"><i class="far fa-share-square btn"></i></a>
              <!-- AddToAny END -->
              
              {% else %}
              <a href="{{url_for('login')}}"><i class="fas fa-thumbs-up mr-1 btn text-primary upvote"> {{ post.like_count }}</i></a>
              <a href="{{url_for('login')}}"><i class="fas fa-thumbs-down mr-1 btn"> {{ post.dislike_count }} </i></a>
              <a href="{{url_for('comment_post', post_id=post.id)}}"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>

            {% endif %}
           </div>
          </div>
        </article>
      {% endfor %}

    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('favourite', page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('favourite', page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
      ...
      {% endif %}
    {% endfor %}
   <script>
        function contentDisp(obj) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var resp = JSON.parse(this.responseText);

                this_id = String($(obj).attr("id"));
                id_list = this_id.split('/')
                if (id_list[1] == 'vote') {
                    document.getElementById(String($(obj).attr("id"))).innerHTML = resp['vote_count'];
                    id = '/downvote/' + id_list[2] + '/' + id_list[3];
                    document.getElementById(id).innerHTML = resp['downvote_count'];
                } else {
                    document.getElementById(String($(obj).attr("id"))).innerHTML = resp['downvote_count'];
                    id = '/vote/' + id_list[2] + '/' + id_list[3];
                    document.getElementById(id).innerHTML = resp['vote_count'];
                }
            }
        };
        var someurl = String($(obj).attr("id"));
        xhttp.open("GET", someurl, true);
        xhttp.send();
    }
        
        $(document).ready(function () {
          setTimeout(function () {
              $('.alert-success').hide();
          }, 1000);
        });
    </script>
{% endblock content %}