{% extends "layout.html" %}
{% block content %}
      {% for item in joinedTables %}
      {% if tag_title == item.tag_title %}
        <article class="media content-section">
          <div class="media-body">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + item.image_file) }}">
            <a class="mr-2" href="#">{{ item.username }}</a>
            <small class="text-muted">{{ item.date_posted.strftime('%d-%m-%Y') }}</small>
            <div class="article-metadata">
            </div>
            <h4><a class="article-title" href="#">{{ item.title }}</a></h4>
            <p class="article-content">{{ item.content }}</p>
            <p><a class="article-content" href="#">{{ item.tag_title }}</a></p><hr>

            <div class="footRow">
            {%  if current_user.is_authenticated %}
            <a href="{{ url_for('upvote', post_id=item.id, user_id=current_user.id) }}"><i class="fas fa-thumbs-up mr-1 btn text-primary upvote"><span class="ml-2 likes-count">{{ item.like_count }}</span></i></a>
            <a href="{{ url_for('downvote', post_id=item.id, user_id=current_user.id) }}"><i class="fas fa-thumbs-down mr-1 btn text-dark"><span id="demo" class="ml-3">{{ item.like_count }}</i></a>
            <a href="{{url_for('comment_post', post_id=item.id)}}"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>
            {% else %}
            <a href="#"><i class="fas fa-thumbs-up mr-1 btn text-primary upvote"><span class="ml-2 likes-count">{{ item.like_count }}</span></i></a>
            <a href="#"><i class="fas fa-thumbs-down mr-1 btn text-dark"><span id="demo" class="ml-3">{{ item.like_count }}</i></a>
            <a href="{{url_for('comment_post', post_id=item.id)}}"><i class="fas fa-comment-alt mr-1 btn text-dark"></i></a>
            {% endif %}
            </div>
          </div>
        </article>
      {% endif %}
      {% endfor %}

{% endblock content %}